.textos1{
    font-weight: bold !important;
}
.imagem {
    background: url(https://i.gifer.com/72jd.gif);
    background-repeat: no-repeat;
    width: 80vh;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}
